<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcode.vastactivity">

    <application>
        <activity
            android:name="com.gcode.vastactivity.VastBaseActivity"
            android:exported="false" />
    </application>

</manifest>